{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% block css%}
					
					<!--begin::Vendor Stylesheets(used for this page only)-->
                            <link href="{% static 'home/assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
                        <!--end::Vendor Stylesheets-->
	
				{% endblock%}
{% block content%}
		<!--begin::Container-->
<div id="kt_content_container" class=" container-xxl ">
    <!--begin::Order details page-->
<div class="d-flex flex-column gap-7 gap-lg-10">
    <div class="d-flex flex-wrap flex-stack gap-5 gap-lg-10">
    <!--begin:::Tabs-->
    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-lg-n2 me-auto">
        <!--begin:::Tab item-->
        <li class="nav-item">
            <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_sales_order_summary">Order Summary</a>
        </li>
        <!--end:::Tab item-->

        <!--begin:::Tab item-->
        <li class="nav-item">
            <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_sales_order_history">Order History</a>
        </li>
        <!--end:::Tab item-->
    </ul>
    <!--end:::Tabs-->

    <!--begin::Button-->
    <a href="listing.html" class="btn btn-icon btn-light btn-active-secondary btn-sm ms-auto me-lg-n7">
        <i class="ki-outline ki-left fs-2"></i>    </a>
    <!--end::Button-->
    
    <!--begin::Button-->
    <a href="{% url 'addpayement_proof'  order.id  %}"  class="btn btn-success btn-sm me-lg-n7">Add Payemnet Details</a>
    <!--end::Button-->

    <!--begin::Button-->
    <a href="{% url 'shop'  %}"  class="btn btn-primary btn-sm">Add New Order</a>
    <!--end::Button-->
</div>
    <!--begin::Order summary-->
    <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10">
        <!--begin::Order details-->
<div class="card card-flush py-4 flex-row-fluid">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
             <h2>Order Details (#{{ order.id }})</h2>
        </div>
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                            <tbody class="fw-semibold text-gray-600">
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-calendar fs-2 me-2"></i>Date Added
                                        </div>
                                    </td>
                                    <td class="fw-bold text-start">{{ order.created_at|timesince }}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-wallet fs-2 me-2"></i>Payment Method
                                        </div>
                                    </td>
                                    <td class="fw-bold text-start">{{ order.get_payment_method_display }}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-location fs-2 me-2"></i>Location
                                        </div>
                                    </td>
                                    <td class="fw-bold text-start">{{ order.order_location }}({{order.order_location.description}})</td>
                                </tr>
                            </tbody>
                        </table>
        </div>
		
		  <div class="table-responsive">
            <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                            <tbody class="fw-semibold text-gray-600">
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-user fs-2 me-2"></i>Order Note
                                        </div>
                                    </td>
                                    <td class="fw-bold text-start">
                                        {% if order.order_note%}
						 <p class="fw-bold alert alert-primary  fs-8">
        {{order.note}}
    <p>
	{%else %}
	 <p class="fw-bold alert alert-primary  fs-8">
        Empty Note
    <p>
	{%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-phone fs-2 me-2"></i>Staff 
                                        </div>
                                    </td>
                                    <td class="fw-bold text-start">{{ order.delivered_by.assigned_staff.user_name }}</td>
                                </tr>
								 <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-check-circle  me-2"></i>Order Status
                                        </div>
                                    </td>
                                    <td class=" text-start "><p class="fw-bold alert alert-success  fs-8">{{ order.status }}({{ order.status.status_description }})</p></td>
                                </tr>
                            </tbody>
                        </table>
        </div>
    </div>
    <!--end::Card body-->
</div>
<!--end::Order details-->
        

        <!--begin::Documents-->
<div class="card card-flush py-4  flex-row-fluid">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
            <h2>Payement Details</h2>
        </div>
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">
        
    <!--end::Card header-->
 <div class="table-responsive">
   <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Amount </th>
                    
                    <th scope="col">Status</th>
					<th scope="col">Details </th>
                    
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
               {% for proof in payement_proof %}
                <tr>
                    <td>
					<div class="d-flex align-items-center">
					
					{% if proof.screenshoot %} 
                                <a href="{% url 'editpayement_proof'  proof.id  %}" class="symbol symbol-50px">
                                    <span class="symbol-label"  style="background-image:url({{ proof.screenshoot.url }});"></span>
                                </a> {% endif %}
                                <div class="ms-5">
                                   {% if proof.transaction_id %}
								   <a href="{% url 'editpayement_proof'  proof.id  %}"class="fw-bold text-gray-600 text-hover-primary">Transaction ID: {{ proof.transaction_id }}</a>
                                    {% endif%}
									<div class="fs-7 text-muted">Date Added: {{proof.created_at}}</div>
									<div class="fs-7 text-muted">Mode: {{proof.payment_method}}</div>
                                </div>
                            </div>
					
					
					</td>
                    <td class="text-success">{{ proof.amount_paid }}</td>
                    {% if proof.confirmed == True %}
                    <td><span class="text-info"> Confirmed</span></td>
					{% else %}
					<td><span class="text-warning"> Pending</span></td>
					{% endif %}
					<td>
					<p class="text-primary">Balance {{active_business.businesses.currency }}</p>
					<p class="text-warning">Change {{active_business.businesses.currency }}</p>
					</td>
                    
                    <td>
					<p class="text-danger">{{ proof.balance }}</p>
					<p class="text-warning">{{ proof.change }}</p>
					</td>
                
				
				
				
				
				</tr>
                
				{% endfor %}
            </tbody>
        </table>
		</div>
    <!--end::Card body-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Documents-->    </div>
    <!--end::Order summary-->

    <!--begin::Tab content-->
    <div class="tab-content">
        <!--begin::Tab pane-->
        <div class="tab-pane fade show active" id="kt_ecommerce_sales_order_summary" role="tab-panel">
            <!--begin::Orders-->
            <div class="d-flex flex-column gap-7 gap-lg-10">
                

                <!--begin::Product List-->
<div class="card card-flush py-4 flex-row-fluid overflow-hidden">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
                <h2>Order #{{ order.id }}</h2>
        </div>
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">
       
	    <div class="table-responsive">
               <table class="table table-striped  align-middle table-row-dashed fs-6 gy-5 mb-0">
                <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-175px">Product</th>
                        <th class="">SKU</th>
                        <th class="min-w-70px">Qty</th>
                        <th class="min-w-100px ">Unit Price</th>
                        <th class="min-w-100px">Total</th>
                    </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                    {% for item in order_items %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="../catalog/edit-product.html" class="symbol symbol-50px">
                                    <span class="symbol-label" style="background-image:url({{ item.image }});"></span>
                                </a>
                                <div class="ms-5">
                                    <a href="../catalog/edit-product.html" class="fw-bold text-gray-600 text-hover-primary">{{ item.product_name }}</a>
                                    <div class="fs-7 text-muted">Delivery Date: {{ order.created_at }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="">{{ item.product_id }}</td>
                        <td class="">{{ item.quantity }}</td>
                        <td class="">{{active_business.businesses.currency }}:{{ item.price }}</td>
                        <td class="">{{active_business.businesses.currency }}:{{ item.total_price }}</td>
                    </tr>
                    {% endfor %}
					<tr>
                        <td  class="text-start">Shipping Fee</td>
                        <td colspan="4" class="text-start">{{active_business.businesses.currency }}:{{ order.order_location.price }}</td>
                    </tr>
                    <tr>
                        <td  class="text-start">Subtotal</td>
                        <td colspan="4" class="text-start">{{active_business.businesses.currency }}:{{ order.total_price }}</td>
                    </tr>
                   
                   
					
                </tbody>
            </table>
        </div>
    
	
	</div>
    <!--end::Card body-->
</div>
<!--end::Product List-->            </div>
            <!--end::Orders-->
			
        </div>
        <!--end::Tab pane-->

        
    </div>
    <!--end::Tab content-->
</div>
<!--end::Order details page--></div>
<!--end::Container-->
               	   
{% endblock %}
{% block Javascript%}
	 
        
                   
        
                    <!--begin::Vendors Javascript(used for this page only)-->
                            <script src="{% static 'home/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
                      
                            <script src="{% static 'home/assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
                        <!--end::Vendors Javascript-->
        
                    <!--begin::Custom Javascript(used for this page only)-->
                            <script src="{% static 'home/assets/js/widgets.bundle.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/widgets.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/apps/chat/chat.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/utilities/modals/create-app.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/utilities/modals/users-search.js' %}"></script>
                        <!--end::Custom Javascript-->
                <!--end::Javascript-->
                    			
				
{% endblock%}
 