# Ignore the virtual environment
venv/
env/

# Ignore Django migrations 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
*/migrations/*.py[cod]

# Ignore database files
*.sqlite3

# Ignore IDE-specific files
*.vscode/
*.idea/

# Ignore compiled Python files
__pycache__/
*.py[cod]


