# Ignore the virtual environment
venv/
env/

#
*/migrations/*.py[cod]

# Ignore database files
*.sqlite3

# Ignore IDE-specific files
*.vscode/
*.idea/

# Ignore compiled Python files
__pycache__/
*.py[cod]


