{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block css%}
					
					<!--begin::Vendor Stylesheets(used for this page only)-->
                            <link href="{% static 'home/assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
                        <!--end::Vendor Stylesheets-->
	
				{% endblock%}
{% block content %}
<!--begin::Container-->
<div id="kt_content_container" class=" container-xxl ">
    <div class="row">
	<!--begin::Navbar-->
<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap">
            <!--begin: Pic-->
            <div class="me-7 mb-4">
                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                    <img {% if business.profile_image%}src="{{business.profile_image.url}}"{%endif%} alt="image" />
                    <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                </div>
            </div>
            <!--end::Pic-->

            <!--begin::Info-->
            <div class="flex-grow-1">
                <!--begin::Title-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::User-->
                    <div class="d-flex flex-column">
                        <!--begin::Name-->
                        <div class="d-flex align-items-center mb-2">
                            <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{business.name}}</a>
                            <a href="#"><i class="ki-outline ki-verify fs-1 text-primary"></i></a>
                        </div>
                        <!--end::Name-->

                        <!--begin::Info-->                        
                        <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                <i class="fas fa-phone fs-4 me-1"></i>                                {{business.phone}}
                            </a>
                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                <i class="fas fa-map-marker fs-4 me-1"></i>                                {{business.address}}
                            </a>
                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary mb-2">
                                <i class="fas fa-envelope fs-4"></i>                                {{business.email}}
                            </a>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::User-->

                    
                </div>
                <!--end::Title-->

                <!--begin::Stats-->
                <div class="d-flex flex-wrap flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column flex-grow-1 pe-8">
                        <!--begin::Stats-->
                        <div class="d-flex flex-wrap">
                            <!--begin::Stat-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <!--begin::Number-->
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-credit-card fs-3 text-success me-2"></i>                                    <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="4500" data-kt-countup-prefix="$">0</div>
                                </div>
                                <!--end::Number-->

                                <!--begin::Label-->
                                <div class="fw-semibold fs-6 text-gray-500">Earnings</div>
                                <!--end::Label-->
                            </div>
                            <!--end::Stat-->

                            <!--begin::Stat-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <!--begin::Number-->
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-shopping-cart fs-3 text-danger me-2"></i>                                    <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="80">0</div>
                                </div>
                                <!--end::Number-->

                                <!--begin::Label-->
                                <div class="fw-semibold fs-6 text-gray-500">Orders</div>
                                <!--end::Label-->
                            </div>
                            <!--end::Stat-->

                            <!--begin::Stat-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <!--begin::Number-->
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-arrow-up fs-3 text-success me-2"></i>                                    <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="60" data-kt-countup-prefix="%">0</div>
                                </div>
                                <!--end::Number-->                                

                                <!--begin::Label-->
                                <div class="fw-semibold fs-6 text-gray-500">Success Rate</div>
                                <!--end::Label-->
                            </div>
                            <!--end::Stat-->
                        </div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Wrapper-->

                    <!--begin::Progress-->
                    
                    <!--end::Progress-->
                </div>
                <!--end::Stats-->
            </div>
            <!--end::Info-->
        </div>
        <!--end::Details-->   

        <!--begin::Navs-->
        <!--begin::latest instagram-->
<div class="">
    <!--begin::Section-->
    <div class="m-0">
        <!--begin::Content-->
        <div class="d-flex flex-stack">
            <!--begin::Title-->
            <h3 class="text-gray-900">Latest Instagram Posts</h3>
            <!--end::Title-->

            <!--begin::Link-->
            <a href="#" class="fs-6 fw-semibold link-primary">
                View Instagram
            </a>   
            <!--end::Link-->
        </div>  
        <!--end::Content-->          

        <!--begin::Separator-->
        <div class="separator separator-dashed border-gray-300 mb-9 mt-5"></div>
        <!--end::Separator-->
    </div>
    <!--end::Section-->

    <!--begin::Row-->
    <div class="row g-10 row-cols-1 row-cols-lg-3">
                    <!--begin::Col-->
            <div class="col">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="{{active_business.businesses.profile_image.url}}">       
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                        style="background-image:url('{{active_business.businesses.profile_image.url}}')">                       
                    </div>
                    <!--end::Image-->

                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="ki-outline ki-eye fs-3x text-white"></i>                    </div>  
                    <!--end::Action-->      
                </a>                       
            </div>
            <!--end::Col-->   
                    <!--begin::Col-->
            <div class="col">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="{{active_business.businesses.profile_image.url}}">       
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                        style="background-image:url('{{active_business.businesses.profile_image.url}}')">                       
                    </div>
                    <!--end::Image-->

                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="ki-outline ki-eye fs-3x text-white"></i>                    </div>  
                    <!--end::Action-->      
                </a>                       
            </div>
            <!--end::Col-->   
                    <!--begin::Col-->
            <div class="col">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="{{active_business.businesses.profile_image.url}}">       
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                        style="background-image:url('{{active_business.businesses.profile_image.url}}')">                       
                    </div>
                    <!--end::Image-->

                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="ki-outline ki-eye fs-3x text-white"></i>                    </div>  
                    <!--end::Action-->      
                </a>                       
            </div>
            <!--end::Col-->   
                       
                 
              
    </div>
    <!--begin::Row-->
	<!--begin::Body-->
    <div class="my-5">    
        <!--begin::Title-->
        <a href="#" data-id="{{ escort.pk }}" class="fs-4 text-gray-900 fw-bold text-hover-primary text-gray-900 lh-base" onclick="storeEscortId({{ escort.pk }})">
    {{ escort.name }}
</a>
      
        <!--end::Title-->

        <!--begin::Text-->
        <div class="fw-semibold fs-5 text-gray-600 text-gray-900 mt-3">    
            {{escort.bio}}   </div>
        <!--end::Text-->

        <!--begin::Text-->
        <div class="fs-6 fw-bold mt-5 d-flex flex-stack">
            <!--begin::Label-->
            <span class="badge border border-dashed fs-2 fw-bold text-gray-900 p-2">
                <span class="fs-6 fw-semibold text-gray-500">Start Price $</span>

                5000          </span>
            <!--end::Label-->            
            
            <!--begin::Action-->
            <a href="#" class="btn btn-sm btn-primary">Request Escort</a>     
            <!--end::Action-->              
        </div>
        <!--end::Text-->      
    </div>
    <!--end::Body-->   
</div>
<!--end::latest instagram-->
        <!--begin::Navs-->
    </div>
</div>
<!--end::Navbar-->



    </div>
</div>
<!--end::Container-->
<script>
function storeEscortId(escortId) {
    $.ajax({
        url: '{% url "store_escort_id" %}', // Make sure this URL matches the URL pattern for your view
        type: 'POST',
        data: {
            'escort_id': escortId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            // Redirect to the page after successfully setting the session
            window.location.href = '{% url "ourescort" %}'; // Replace with the actual URL to fetch the escort
        },
        error: function(xhr, status, error) {
            console.error("Error: ", error);
        }
    });
}
</script>

{% endblock %}


{% block Javascript%}
	 
        
                   
        
                    <!--begin::Vendors Javascript(used for this page only)-->
                            <script src="{% static 'home/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
                      
                            <script src="{% static 'home/assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
                        <!--end::Vendors Javascript-->
        
                    <!--begin::Custom Javascript(used for this page only)-->
                            <script src="{% static 'home/assets/js/widgets.bundle.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/widgets.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/apps/chat/chat.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/utilities/modals/create-app.js' %}"></script>
                            <script src="{% static 'home/assets/js/custom/utilities/modals/users-search.js' %}"></script>
                        <!--end::Custom Javascript-->
                <!--end::Javascript-->
                    			
				
{% endblock%}
 